<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            background-color:  rgb(138, 38, 126);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .content {
            background-color: rgb(255, 243, 243);
            text-align: center;
            border: 1px solid #ccc;
            padding: 20px;
            width: 400px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Welcome to the Dish Search</h1>
        <p>Find your recipe our locations</p>

        <button onclick="window.location.href='/register'">Register</button>
        <button onclick="window.location.href='/admin'">Login</button>
    </div>
</body>
</html>
